@model IEnumerable<FoodDelivery.DBModel.Restaurant>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Add", "Restaurant")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude, new { @id = "r_lng" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude, new { @id = "r_lat" })
            </td>
        </tr>
    }

</table>
